
body {
    background-color: rgba(36, 36, 149, 0.942);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: (32, 32, 152, rgba(32, 112, 152, 0.942));
    color:(32, 112, 152, rgba(32, 112, 152, 0.942));
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

img {
    max-width: 90%;
}

main {
    text-align: center;
    max-width: 90%;
}

